<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property file="src/main/resources/application.properties" />
    <appender name="fileAppender1" class="ch.qos.logback.core.FileAppender">
    <file>c:/logs/kp-ws.log</file>
    <append>true</append>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
        <layout class="com.five.three.MaskingPatternLayout">
            <patternsProperty>(${log.pattern.match.socialsecurity})</patternsProperty>
            <pattern>%d [%thread] %-5level %logger{35} - %msg%n</pattern>
            <mask>X</mask>
        </layout>
    </encoder>
</appender>
<root level="DEBUG">
    <appender-ref ref="fileAppender1" />
</root>
</configuration>